*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
}

.pic1{
  background-image: url(img/box1.jpg);
  background-size: cover;
  height: 200px;
  background-position: center;
}
.pic2{
  background-image: url(img/box2.jpg);
  background-size: cover;
  height: 200px;
  background-position: center;
}
.pic3{
  background-image: url(img/box3.jpg);
  background-size: cover;
  height: 200px;
  background-position: center;
}
.pic4{
  background-image: url(img/box4.jpg);
  background-size: cover;
  height: 200px;
  background-position: center;
}